body
{
	width: 100%;
	min-height: 800px;
	background-color: #123456;
	margin: 0px;
	padding: 0px;
	font-size:20px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

#container
{
width: 1000px;
min-height: 800px;
margin-left: auto;
margin-right: auto;
}

header
{
	padding-bottom: 5px;
}

#logo
{
	width:800px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	border: 5px dashed white;
}

#logo > h1
{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 10px;
	padding: 4px;
	font-family: 'Audiowide', cursive;
}

#logo > h3
{
	text-align: center;
    margin-top: 5px; 
	font-family: 'VT323', monospace;
	letter-spacing: 2px;
}

#navbar
{
height: 60px;
width: 800px;
margin-left: auto;
margin-right: auto;	
margin-top: 20px;
border-left: 5px dashed white;
border-right: 5px dashed white;
}

.navbutton
{
	height: 50px;
	width: 200px;
    margin-left:25px;
	margin-right: 25px;
	float: left;
	border: 5px dashed white;
	color: #fff;
	font-size: 35px;
	text-align: center;
	text-decoration: none;
	font-family:  'Audiowide', cursive;
	padding-left: 6px;
}
.navbutton:hover
{
	background-color: #234567;
	border: 5px dashed #516823;
}

.navbutton:active
{
	background-color: #234567;
	border: 5px dashed #516823;
	
}

#content
{
	width: 800px;
	min-height: 80px;
	border: 5px dashed white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	clear: both;
}



article
{  
	text-align: justify;
	padding: 30px;
	font-family: 'VT323', monospace;
}

#contactbar
{
height: 90px;
width: 800px;
margin-left: auto;
margin-right: auto;	
margin-top: 26px;
border-left: 5px dashed white;
border-right: 5px dashed white;
}

.contactbutton
{
	height: 80px;
	width: 200px;
    margin-left:25px;
	margin-right: 25px;
	float: left;
	border: 5px dashed white;
	color: #fff;
	font-size: 35px;
	text-align: center;
	text-decoration: none;
	padding-left: 6px;
}
.contactbutton:hover
{
	
}

.contactbutton:active
{
	
}

#bottom
{
	width: 800px;
	height: 50px;
	text-align: center;
	font-size: 15px;
	border: 5px dashed white;
	margin-left:auto;
	margin-right: auto;
	margin-top: 25px;
	clear: both;
}
#alr
{
	padding-top: 15px;
}

